<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <ul class="header-links pull-left">
        <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
        <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
        <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
      </ul>
      <ul class="header-links pull-right">
        <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>
      </ul>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- LOGO -->
        <div class="col-md-8">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="../../../assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <!-- /LOGO -->

        

        <!-- ACCOUNT -->
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-user"></i>
                <span>Profile</span>
                
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
              <div class="dropdown">
                <a class="dropdown-toggle" routerLink="cart" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer" >
                  <i class="fa fa-shopping-cart"></i>
                  <span>Your Cart</span>
                  <div class="qty">1</div>
                </a>
                
              </div>
              <!-- /Cart -->

            <!-- Menu Toogle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toogle -->
          </div>
        </div>
        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<nav id="navigation">
  <!-- container -->
  <div class="container">
    <!-- responsive-nav -->
    <div id="responsive-nav">
      <!-- NAV -->
      <ul class="main-nav nav py-3">
        <li class="active"><a routerLink="product">Home</a></li>
        <li><a href="#">Categories</a></li>
        <li><a href="#">Games</a></li>
        <li><a href="#">Contact Us</a></li>

      </ul>
      <!-- /NAV -->
    </div>
    <!-- /responsive-nav -->
  </div>
  <!-- /container -->
</nav>
<!-- /NAVIGATION -->


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container">
    <a class="navbar-brand text-white">Shopping Cart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
       
        <form class="d-flex">
         
        
          <input class="form-control me-2" type="search" placeholder="Please Search here.............." aria-label="Search">
          &nbsp;&nbsp;&nbsp;&nbsp;
          <button class="cart-btn" type="submit">Search</button>
        
        </form>
        &nbsp;&nbsp;
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="shopping">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-white" routerLink="cart">
            <i class="fas fa-shopping-cart"></i> Cart
          </a>
         
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" routerLink="card" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i> profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">View </a>
           
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">signOut</a>
          </div>
        </li>
  
      </ul>
  
    </div>
  </div>
  </nav> -->